.circle{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    border-radius: 50%;
    position: relative;
    left: -250px;
    float: left;
    margin-left: 20px;
    /* color: white;
    font-weight: 500;
    text-align: center;
    font-size: 50px; */
}
.inner{
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 50px;
    position: relative;
    top:100px;
}
.hello{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    position: relative;
    left:170px;
    top:-20px;
    border-radius: 5%;
}
.hello2{
    position: absolute;
    text-align: center;
    color: white;
    margin-left: 50px;
}
.hello3{
    width: 300px;
    border: solid black 2px;
    height:40px;
}